<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input 
        *ngIf="row"
        type="title" 
        class="form-control" 
        name="title"
        ngModel
        id="exampleFormControlInput1" 
        placeholder="Add Title"
        required
        [ngModel]="row.title">
      <input 
        *ngIf="!row"
        type="title" 
        class="form-control" 
        name="title"
        ngModel
        id="exampleFormControlInput1" 
        placeholder="Add Title"
        required>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label >Start</label>
                <input *ngIf="row" type="date" name="start" max="3000-12-31" 
                        min="1000-01-01" class="form-control"
                        [ngModel]="row.dueDate.start | date: 'yyyy-MM-dd'"
                        (ngModelChange)="row.dueDate.start = $event"
                        required>
                <input *ngIf="!row" type="date" name="start" max="3000-12-31" 
                        min="1000-01-01" class="form-control" ngModel
                        [ngModel]= "defaultDate | date: 'yyyy-MM-dd'" required>
            </div>
            <div class="col">
                <label >End</label>
                <input *ngIf="row" type="date" name="finish" max="3000-12-31" 
                        min="1000-01-01" class="form-control"
                        [ngModel]="row.dueDate.finish | date: 'yyyy-MM-dd'" 
                        (ngModelChange)="row.dueDate.finish = $event"
                        required>
                <input *ngIf="!row" type="date" name="finish" max="3000-12-31"
                         min="1000-01-01" class="form-control" ngModel 
                         [ngModel]= "defaultDate | date: 'yyyy-MM-dd' " required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="priority">Priority</label>
                <div class="input-group mb-3">
                    <select 
                        *ngIf="row"
                        class="custom-select" 
                        id="priority" 
                        name="priority" 
                        [(ngModel)]="row.priority">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                    <select 
                        *ngIf="!row"
                        class="custom-select" 
                        id="priority" 
                        name="priority" 
                        ngModel
                        [ngModel]=defaultPriority>
                        <option value="Low" selected>Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <label for="status">Status</label>
                <div class="input-group mb-3">
                    <select
                        *ngIf="row" 
                        class="custom-select" 
                        id="status" 
                        name="status" 
                        [(ngModel)]=row.status>
                        <option value="Todo">To Do</option>
                        <option value="Doing">Doing</option>
                        <option value="Done">Done</option>
                    </select>
                    <select 
                        *ngIf="!row"
                        class="custom-select" 
                        id="status" 
                        name="status"
                        ngModel
                        [ngModel]=defaultStatus>
                        <option value="Todo" selected>To Do</option>
                        <option value="Doing">Doing</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea 
            *ngIf="row"
            class="form-control"
            id="exampleFormControlTextarea1" 
            rows="3"
            name="desc" 
            required
            [(ngModel)]="row.description"
        ></textarea>
        <textarea 
            *ngIf="!row"
            class="form-control"
            id="exampleFormControlTextarea1" 
            rows="3"
            name="desc" 
            placeholder="Write your description here"
            ngModel
            required
        ></textarea>
    </div>
    <button type="submit" class="btn btn-success" [disabled]=!f.valid>Submit</button>
</form>